{% extends 'gameapp/base.html' %}

{% block index %}
<div>
    <h1>Резюме(Главная)</h1>
    <h2>Пупкин Павел Петрович</h2>
    <p>Описание(о себе)</p>
    <ul>
        <li>Дата рождения: 14.05.1992</li>
        <li>Образование: Высшее</li>
        <li>Профессия: Менеджмент организации</li>
        <li>Опыт работы: 12 лет</li>
    </ul>
    <br>
    <footer>
        <div>
            <p>Контакты: +7 (999) 413-36-26</p>
        </div>
    </footer>

    <p>Hello, {{ name }}!</p>
</div>
{% endblock %}
