<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заказов за последние {{ period }} дней</title>
</head>
<body>
    <h1>Список заказов за последние {{ period }} дней</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Клиент</th>
                <th>Товар</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                {% for item in customer.ordered_items %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.price }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
